# Dépendances et builds locaux
node_modules/
.output/
dist/
build/
.next/
.nuxt/

# Fichiers sensibles et secrets
.env*
*.secret
*.key
*.pem
*.crt
*.log
*.sqlite
*.db

# Fichiers système et Git
.git/
.gitignore
.DS_Store
*.swp

# Docker & CI/CD
Dockerfile*
docker-compose*
.dockerignore
.github/
README.md