# URL de connexion utilisée par Drizzle ORM (format standard mysql2)
DATABASE_URL="mysql://pseudo:password@localhost:3306/votre_bdd"
DB_HOST=127.0.0.1
DB_USER=pseudo
DB_PASSWORD=password
DB_NAME=your_db
DB_PORT=3306

# Clé secrète robuste pour signer les Access Tokens (JWT)
JWT_ACCESS_SECRET="VotreSignatureJWT@12"

# Clé secrète pour signer ou chiffrer les Refresh Tokens
JWT_REFRESH_SECRET="VotreSignatureREFRESH@12"

# Environnement d'exécution (development, production)
NODE_ENV="development"

# Port d'écoute du serveur Nuxt (par défaut 3000)
PORT=3000